<div class="container">


  <h1>Agenda</h1>
  <div class="row">
    <div class="col s8">

    </div>
    <div class="#e8eaf6 indigo lighten-5 col s4">
      <h3>Registrar clase</h3>
      <form class="col s12" {{action 'saveLecture' model.lecture selectedTeacher classroom on="submit"}}>
        <div class="row">
          <div class="input-field col s1">
            <i class="material-icons prefix">date_range</i>
          </div>
          <div class="input-field col s5">
            {{date-select defaultDate=datenow lecture=model.lecture start_date=start_date}}
          </div>
          <div class="input-field col s1">
            <i class="material-icons prefix" >watch_later</i>
          </div>
          <div class="input-field col s5">

            {{#m-wrapper query=".timepicker" method="timepicker" setHora=(action 'setHora' model.lecture start_hour)}}
                {{input type="text" class="timepicker" value= start_hour}}
                {{log start_hour}}
            {{/m-wrapper}}

          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
               {{input id="classRoom" type="text" class="validate" value=classroom}}
               <label for="classRoom">Salón</label>
          </div>

          <div class="input-field col s6">
            {{#power-select options=model.teacher
              searchField="teacher.name"
              selected= selectedTeacher
              onchange=(action (mut selectedTeacher))
              placeholder="maestro" as |teacher|}}
        {{teacher.name}} {{teacher.last_name}}
      {{/power-select}}
          </div>
        </div>
        <button  class="waves-effect waves-light btn #b388ff deep-purple accent-1"><i class="material-icons left">done</i>Guardar</button>
      </form>
    </div>
  </div>
</div>
