<div class="container">


  <h1>Agenda</h1>
  <div class="row">
    <div class="#e8eaf6 indigo lighten-5 col s12" id="form">
      <h3>Registrar clase</h3>
      <form class="col s12" {{action 'saveLecture' model.lecture selectedTeacher selectedRule on="submit"}}>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">date_range</i>
            {{input id="start_date" type="text" class="validate" value=model.lecture.start_date}}
            <label for="start_date">ejemplo: DD/MM/YYYY</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix" >watch_later</i>
            {{input id="start_hour" type="text" class="validate" value=model.lecture.start_hour}}
            <label for="start_hour">ejemplo: 11:00PM</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">location_on</i>
               {{input id="classRoom" type="text" class="validate" value=model.lecture.classroom}}
               <label for="classRoom">Salón</label>
          </div>

          <div class="input-field col s6">
            {{#power-select options=model.teacher
              searchField="teacher.name"
              selected= selectedTeacher
              onchange=(action (mut selectedTeacher))
              placeholder="maestro" as |teacher|}}
        {{teacher.name}} {{teacher.last_name}}
      {{/power-select}}
          </div>

          <div class="input-field col s6">
            {{#power-select options=model.lecture_rule
              searchField="lecture_rule.description"
              selected= selectedRule
              onchange=(action (mut selectedRule))
              placeholder="seleccionar regla" as |rule|}}
        {{rule.description}}
      {{/power-select}}
          </div>
        </div>
        <button  class="waves-effect waves-light btn #b388ff deep-purple accent-1"><i class="material-icons left">done</i>Guardar</button>
      </form>
    </div>
    <div class="col s12">
          {{#each model.lectures as |lecture|}}
          {{#if lecture.id}}
          {{log lecture.teacher}}
                <div class="col s4">
                  {{lecture-card model=lecture onDelete=(action 'deleteLecture' lecture)}}
                </div>
                {{/if}}
          {{/each}}

    </div>

  </div>
</div>
