<div class="container">
  <br>
  <div class="row">
    <div class="col s6">
      <h4>buscar alumno</h4>
      {{#power-select
        options=model
        searchField="student.name"
        selected=selectedStudent
        onchange=(action (mut selectedStudent))
        placeholder="busca un alumno" as |contract|}}
  {{contract.student.name}} {{contract.student.last_name}}
{{/power-select}}

    </div>
    {{#if selectedStudent}}
    {{log selectedStudent}}
<div class="col s12">
    <div class="col s12">
      <table class="bordered">
  <tbody>
    <tr>
      <td> <b>Nombre: {{selectedStudent.student.name}} {{selectedStudent.student.last_name}}</b> </td>
      <td></td>
      <td> <b>telefono: {{selectedStudent.student.phone}}</b> </td>
      <td>  </td>
      <td> <b>correo: {{selectedStudent.student.email}}</b> </td>
      <td> </td>
      <td> <b>inicio de contrato: {{moment-format selectedStudent.contract.contract_signature_date 'DD/MM/YYYY'}}</b> </td>
      <td>  </td>
    </tr>
    <tr>
      <td> <b>titular de contrato: {{selectedStudent.contract.subscriber.name}} {{selectedStudent.contract.subscriber.last_name}}</b> </td>
      <td></td>
      <td> <b>telefono: {{selectedStudent.contract.subscriber.phone}}</b> </td>
      <td> </td>
      <td> <b>correo: {{selectedStudent.contract.subscriber.mail}}</b> </td>
      <td>  </td>
      <td> <b>fin de contrato: {{moment-format selectedStudent.contract.end_date 'DD/MM/YYYY'}}</b> </td>
      <td>  </td>
    </tr>
  </tbody>
</table>
<br>
{{#link-to 'auth.student.update-info' selectedStudent.student.id  class="waves-effect waves-light btn #b388ff deep-purple accent-1"}}
          editar o ver calificaciones
        {{/link-to}}
  <button class="waves-effect waves-light btn #e53935 red darken-1" {{action 'deleteStudent' selectedStudent}}>borrar</button>
    </div>


  </div>
  {{/if}}
  </div>
</div>
